BOT_TOKEN=8114664416:AAGMbqCqsGD3YDHDMPEzHGzuOvvuQqtO1EU

# Comma-separated list of admin user IDs for database restore functionality
ADMIN_USER_IDS=199635934

DB_HOST=db
DB_PORT=5432
DB_NAME=rentbot
DB_USER=postgres
DB_PASSWORD=postgres
